.tasks {
    width: 100%;
    max-width: 736px;
    margin: 0 auto;
    margin-top: 90px;
    padding: 0 1rem;
}
  
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}
  
.header > div {
    display: flex;
    align-items: center;
    gap: 8px;
}
  
.header p {
    color: #509be1;
    font-size: 14px;
    font-weight: 700;
}
  
.header span {
    background: #ffa0ad;
    color: #F9F2ED;
    padding: 3px 9px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 700;
}
  
.list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.selectContainer {
    position: relative;
}

.selectContainer select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 140px;
    padding: 4px 10px;
    border-radius: 4px;
    background-color: #509be1;
    font-size: 12px;
    font-weight: 500;
    color: #F9F2ED;
}

.selectContainer::after {
    content: '\25BE'; /* Unicode for down arrow */
    position: absolute;
    top: calc(50% - 8px);
    right: 10px;
    font-size: 16px;
    pointer-events: none;
    color: #F9F2ED;
}

.selectContainer select:focus {
    outline: none;
    border-color: #4EA8DE; /* Example focus style */
}
