@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }

  body {
    background: #F9F2ED;
    color: #F2F2F2;
    min-height: 100vh;
  }

  button {
    cursor: pointer;
  }


/* Task styles */
.task{
    width:100%;
    height:100%;
    background:#F9F2ED;
    border:1px solid #ff71b2;
    padding:16px;
    border-radius:8px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:4rem;
}

.task p {
    font-size: 14px;
    line-height: 19px;
    color: #ffa0ad;
    margin-right: auto;
}

p.textCompleted {
    color: #ffa0ad;
    text-decoration: line-through;
}

.checkContainer {
    width: 18px;
    height: 18px;
    background: none;
    border: none;
}

.checkContainer div {
    width: 100%;
    height: 100%;
    border-radius: 999px;
    border: 2px solid #509be1;
}

.checkContainer svg {
    width: 100%;
    height: 100%;
    color: #509be1;
}

.editButton {
    background: none;
    border: none;
    color: #509be1;
}

.deleteButton {
    background: none;
    border: none;
    color: #509be1;
}


/* Tasks styles */
.tasks {
    width: 100%;
    max-width: 736px;
    margin: 0 auto;
    margin-top: 90px;
    padding: 0 1rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.header > div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header p {
    color: #509be1;
    font-size: 14px;
    font-weight: 700;
}

.header span {
    background: #ffa0ad;
    color: #F9F2ED;
    padding: 3px 9px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 700;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.selectContainer {
    position: relative;
}

.selectContainer select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 140px;
    padding: 4px 10px;
    border: 1px solid #509be1;
    border-radius: 4px;
    background-color: #509be1;
    font-size: 12px;
    font-weight: 500;
    color: #F9F2ED;
}

.selectContainer::after {
    content: '\25BE';
    position: absolute;
    top: calc(50% - 8px);
    right: 10px;
    font-size: 16px;
    pointer-events: none;
    color: #F9F2ED;
}

.selectContainer select:focus {
    outline: none;
    border-color: #4EA8DE;
}


/* Auth styles */
.auth {
    width: 90%;
    max-width: 460px;
    height: auto;
    margin-top: 60px;
    margin-bottom: 0px; /* Keep it minimal */
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    width: 90%;
    max-width: 430px;
    margin-top: 0px;;
}

/*
light blue = #d3e9ff
light pink = #ffd5d5
salmon pink = #ffa0ad
blue = #509be1
pink = #ff71b2
bg color = #f9f2ed
*/
